extends ../layouts/default

block heading
  h2= title

block content
  form.form-horizontal(method="post", action="/users/change-password")
    .row
      .span6
        .control-group
          label.control-label(for="old") Old password
          .controls
            input(type="password", id="old", name="old", required)

        .control-group
          label.control-label(for="pass") New password
          .controls
            input(type="password", id="pass", name="pass", required)

    .form-actions
      button.btn.btn-success.btn-large(type="submit", ng-disabled="form.$invalid") Change

