extends ../layouts/mobile

block content
  form.form-signin(action="/users/forgot-password", method="post")
    h3.form-signin-heading Forgot Password
    p A password reset link will be sent to your email
    p.error #{error}
    input.input-block-level(type="email", placeholder="Enter your email address", name="email", required)

    button.btn.btn-success(type="submit") Submit
