extends ../layouts/mobile

block content
  form.form-signin(action="/session", method="post")
    h3.form-signin-heading Please sign in
    p.error= message
    input.input-block-level(type="email", placeholder="Email address", name="email", required)
    input.input-block-level(type="password", placeholder="Password", name="password", required)
    label.checkbox
      input(name="rememberme", type="checkbox", checked)
      | Remember me
    button.btn.btn-success(type="submit") Sign in
    &nbsp;
    &nbsp;
    a(href="/users/forgot-password") forgot password?
