extends ../layouts/nobg

block content
  form.form-signin(action="/users/reset-password", method="post")
    h3.form-signin-heading Reset Password
    p.error #{error}
    input.input-block-level(type="password", placeholder="Enter new password", name="password", required)

    button.btn.btn-success(type="submit") Reset and Log in
