extends ../layouts/default

block main
  h2= title

block content
  .row
    .span2
      img.img-circle(src=user.avatar, tooltip="change your avatar at gravatar.com")
    .span10
      - if (req.user._id == user.id)
        p key:
          code= user.key
        p
          i.icon-envelope-alt
          |  #{user.email}

        a.btn(href="/users/"+user._id+"/edit") Edit
