extends ../layouts/default

block content
  form.form-signin(action="/users", method="post")
    h3.form-signin-heading Sign up

    input.input-block-level(type="text", placeholder="Full name", name="name", required)

    input.input-block-level(type="email", placeholder="Email address", name="email", value=user.email, required)

    input.input-block-level(type="password", placeholder="Password", name="password", required)

    button.btn.btn-primary(type="submit") Sign up
