extends ../layouts/default

block content
  .jumbotron
    h1 Notifications as service
      p.lead.
        Notifications have never become easy to manage! We even support scheduled notifications!
      a.btn.btn-large.btn-primary(href="/users/new") Sign up today
